@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imagenAboutMe {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4caf50;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
  
.aboutContainer {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 10px;
    margin-top: 5px;
    position: relative;
}

.aboutContainer.visible {
    opacity: 1; 
    transform: translateY(0);
}
  
.interestsContainer {
    flex: 1; 
    max-width: 45%;
    transform: translateX(-50px);
    opacity: 0; 
    transition: all 0.8s ease-out;
}

.visible .interestsContainer {
    transform: translateX(0);
    opacity: 1;
}

.mainContent {
    padding: 0 20px;
    transform: translateX(50px);
    opacity: 0; 
    transition: all 0.8s ease-out; 
}

.visible .mainContent {
    transform: translateX(0); 
    opacity: 1; 
}
  
.interestsList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.interestsList li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem; 
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem 0;
}

.interestsList li div {
    color: #f8f8f8; 
    font-size: 1.0rem;
    line-height: 2; 
}
  
  .interestsList li strong {
    margin-left: 0.5rem;
  }
  
.aboutParagraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.8;
    color: #ffffff; 
    text-align: justify;
}

.frameBox {
    background-color: rgba(0, 0, 0, 0.8); 
    border: 2px solid #4caf50; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5px; 
    max-width: 600px;
    animation: fadeSlideIn 0.8s ease-out; 
    margin: 20px auto 20px 400px;
    margin-top: -80px; 
}