.title {
    text-align: center;
}

  .sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .imagenAboutMe {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4caf50;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2; /* Coloca la imagen encima de otros elementos */
}
  

  .aboutContainer {
    display: flex; /* Organiza los hijos en una fila */
    justify-content: space-between; /* Espacio entre los bloques */
    align-items: flex-start; /* Alinea los bloques al inicio verticalmente */
    gap: 20px; /* Espacio entre los bloques */
    margin-top: 20px; /* Separación del contenido superior */
    position: relative; /* Agregar esta propiedad */
    z-index: 1; /* Asegurarse de que este contenedor esté por encima de otros */
}
    
  
  .interestsContainer {
    background-color: #f9f9f9; /* Fondo suave */
    border: 1px solid #ddd; /* Borde claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 600px; /* Ancho máximo para el bloque */
    margin: 20px 0 0 20px; /* Márgenes personalizados: sin auto */
    align-items: flex-start;
    gap: 20px;
    order: 2;
  }
  

  .mainContent {
    flex: 1; /* Ocupa el espacio restante en el contenedor */
    background-color: #f9f9f9; /* Fondo suave */
    border: 1px solid #ddd; /* Borde claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 600px; /* Ancho máximo */
    order: 1;
  }
  

  .interestsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
  }
  
  .interestsList li {
    display: flex;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .interestsList li strong {
    margin-left: 0.5rem;
  }
  
  .aboutParagraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height: 1.6;
    color: #555;
    text-align: justify;
  }