@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aboutBackground {
    position: relative;
    width: 100vw;
    padding: 50px 20px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('/images/BackgroundAboutMe.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-sizing: border-box;
}


.imagenAboutMe {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4caf50;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    left: 40%;
}
  
.aboutContainer {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 10px;
    margin-top: 5px;
    position: relative;
}

.aboutContainer.visible {
    opacity: 1; 
    transform: translateY(0);
}
  
.interestsContainer {
    flex: 1; 
    max-width: 45%;
    transform: translateX(-50px);
    opacity: 0; 
    transition: all 0.8s ease-out;
    position: relative;
    right: 250px;
    top: -190px;
}

.visible .interestsContainer {
    transform: translateX(0);
    opacity: 1;
}

.visible .mainContent {
    transform: translateX(0); 
    opacity: 1; 
}
  
.interestsList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2.8rem; 
}

.interestsList li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem; 
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem 0;
    
}

.interestsList li div {
    color: #f8f8f8; 
    font-size: 1.0rem;
    line-height: 2; 
}
  
.interestsList li strong {
  margin-left: 0.5rem;
}
  
.aboutParagraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.8;
    color: #ffffff; 
    text-align: justify;
}

.mainContent {
    padding: 0 20px;
    transform: translateX(50px);
    opacity: 0; 
    transition: all 0.8s ease-out; 
}

.frameBox {
    background-color: rgba(0, 0, 0, 0.8); 
    border: 2px solid #4caf50; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0; 
    max-width: 400px;
    animation: fadeSlideIn 0.8s ease-out;  
    position: relative;
    left: 300px;
}

@media (max-width: 768px) {
    .aboutBackground {
      padding: 30px 15px;
      background-position: center top;
      background-size: cover;
    }
  
    .imagenAboutMe {
      width: 100px;
      height: 100px;
      left: 50%;
      transform: translateX(-50%);      
    }
  
    .aboutContainer {
      flex-direction: column;
      gap: 20px;
    }
  
    .interestsContainer {
      max-width: 100%;
      right: 0;
      top: 0;
      transform: translateX(-30px);
    }
  
    .mainContent {
      transform: translateX(30px);
      padding: 10px 15px;
    }
  
    .frameBox {
      max-width: 100%;
      left: 0;
      padding: 10px;
    }
  
    .interestsList {
      gap: 1.5rem;
      width: 140px;
      margin-top: 60%;
    }
  
    .interestsList li div {
      font-size: 0.9rem;
      line-height: 1.6;
    }
  
    .aboutParagraph {
      font-size: 0.9rem;
      line-height: 1.6;
    }
  }
  
  /* Responsivo para Iphone X */
  @media (max-width: 480px) {
    .aboutBackground {
      padding: 30px 10px;
      background-position: center top;
      height: 100vh;
      overflow-x: hidden;
    }
  
    .imagenAboutMe {      
      position: relative;
      top: 15%;
      right: 50%;
    }
  
    .aboutContainer {
      gap: 15px;
      text-align: center;
    }
  
    .interestsContainer {
      transform: translateX(-10px);
      top: -40px;
    }
  
    .mainContent {
      transform: translateX(10px);
      padding: 0px 10px;
    }
  
    .frameBox {
      position: relative;      
      max-width: 90%;
      left: 1%;  
      top: -50px;    
    }
  
    .interestsList {
      gap: 0.2rem;
      top: 50px;      
    }
  
    .interestsList li div {
      font-size: 0.7rem;
      line-height: 1.4;
    }
  
    .aboutParagraph {
      font-size: 0.6rem;

      line-height: 1.4;
    }
  }