:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(218, 214, 214, 0.699);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 15px;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 10px;
  }
}