body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
nav {
    position: fixed; 
    top: 0;
    left: 50%;
    margin: 0 auto;
    background-color: #333;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center; 
    border-radius: 8px;         
  }

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
    
}

nav ul li {
    margin: 0 20px;
    border-radius: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    transition: background-color 0.3s;
  }

  nav ul li a:hover {
    background-color: #555;
    border-radius: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    padding-top: 100px;
  }

  section {
    padding: 100px 20px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    margin-bottom: 40px; 
    z-index: 1;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 20px;
  }

/* Responsivo para tabletas */
@media (max-width: 768px) {
  nav ul {
    flex-direction: row; /* Mantener la dirección horizontal */
    justify-content: space-around; /* Distribuir uniformemente */
    gap: 0; /* Eliminar espacio extra */
  }

  nav ul li {
    margin: 0 10px; /* Ajustar márgenes para que se adapte */
  }

  nav ul li a {
    font-size: 16px;
    padding: 8px 15px;
  }

  section {
    padding: 80px 15px;
  }

  section h2 {
    font-size: 1.5rem;
  }
}

/* Responsivo para Iphone X */
@media (max-width: 480px) {
  nav {
    padding: 0px;
    margin-top: -10px;    
    position: fixed;
    display: flex;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 10px; 
  }

  nav ul li {
    margin: 0px 6px; 
  }

  nav ul li a {
    font-size: 9px;
    padding: 0px 1px;
  }

}
