.section {
    margin-top:0; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0; 
    position: relative;
  }
  
  #init {
    margin-bottom: 80px;
  }
  
  #aboutMe {
    margin-top: 0; 
    margin-bottom: 0px;
  }
  
  #skills,
  #myProyect,
  #contact {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .backgroundAnimated {
    position: relative; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -45deg,
      #ff9a9e,
      #fad0c4,
      #fbc2eb,
      #a1c4fd,
      #c2e9fb
    );
    background-size: 300% 300%;
    z-index: 0;
    animation: gradientShift 15s ease infinite;
  }

  /* Media queries para tabletas */
@media (max-width: 768px) {
  .section {
    min-height: 80vh;
    padding: 10px;
  }

  #init {
    margin-bottom: 60px;
  }

  #aboutMe {
    margin-bottom: 20px;
  }

  #skills,
  #myProyect,
  #contact {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  main {
    padding: 10px;
  }

  .backgroundAnimated {
    padding: 15px;
    background-size: 400% 400%; /* Ajusta la velocidad del fondo animado */
  }
}

/* Responsivo para Iphone X */
@media (max-width: 480px) {
  .section {
    min-height: 70vh;
    padding: 5px;
  }

  #init {
    margin-bottom: 40px;
  }

  #aboutMe {
    height: 100vh;
    padding: 20px;
  }

  #myProyect,
  #skills,
  #contact {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  main {
    padding: 5px;
  }

  .backgroundAnimated {
    padding: 10px;
    background-size: 500% 500%; /* Ajusta aún más la velocidad del fondo animado */
  }
}
