.section {
    margin-top:0; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0; 
  }
  
  #init {
    margin-bottom: 80px;
  }
  
  #aboutMe {
    margin-top: 0; 
    margin-bottom: 0px;
  }
  
  #skills,
  #myProyect,
  #contact {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .backgroundAnimated {
    position: relative; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -45deg,
      #ff9a9e,
      #fad0c4,
      #fbc2eb,
      #a1c4fd,
      #c2e9fb
    );
    background-size: 300% 300%;
    z-index: 0;
    animation: gradientShift 15s ease infinite;
  }