.skillsBackground {
    position: relative;
    padding: 50px 20px;
    background-image: url('/images/BackgroundSkills.gif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .skillsContainer {
        flex-direction: column; 
        gap: 20px; 
    }
}

.skillsContainer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 500px; 
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;

}

.barContainer {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .skillsContainer {
        flex-direction: column; 
        gap: 20px; 
    }
}

@media (min-width: 768px) {
    .skillsContainer {
        flex-wrap: nowrap;
    }
}

.progressBar {
    height: 100%;
    background-color: #76c7c0;
    border-radius: 5px;
}

.level {
    font-size: 14px;
    color: #555;
}

.leftColumn,
.rightColumn {
    flex: 1; 
    max-width: 48%;
    box-sizing: border-box;
}

.skillItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .section {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 16px; 
  }